#scene-container {
    width: 100%;
    height: 100vh;
}

.point {
    position: absolute;
    top: 50%;
    left: 50%;
    /* pointer-events: none; */
}

.point .label {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(24, 24, 24);
    border: 2px solid white;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 14px;
    cursor: help;
    transform: scale(0, 0);
    transition: transform 0.3s;
}

.point .point_project {
    cursor: pointer;
}

.point .text {
    position: absolute;
    top: 30px;
    left: -120px;
    width: 300px;
    padding: 20px;
    border-radius: 6px;
    background: #000000cb;
    border: 1px solid #ffffff77;
    color: #ffffff;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.point:hover .text {
    opacity: 1;
    overflow: hidden;
}

.point.visible .label {
    transform: scale(0.5, 0.5);
}

.posicion_boton_cerrar img {
    width: 3%;
}

.posicion_boton_cerrar {
    position: fixed;
    top: 2%;
    right: 2%;
    transform: translate(98%, -2%);
    cursor: pointer;
    z-index: 200;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
}

.modal_proyectos {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 80vh;
    transform: translate(-50%, -50%);
    background: rgba(28, 28, 28, 0.4);
    background: -moz-radial-gradient( center, ellipse cover, rgba(28, 28, 28, 0.4) 0%, rgba(28, 28, 28, 0.46) 8%, rgba(19, 19, 19, 0.71) 43%, rgba(19, 19, 19, 1) 83%);
    background: -webkit-gradient( radial, center center, 0px, center center, 100%, color-stop(0%, rgba(28, 28, 28, 0.4)), color-stop(8%, rgba(28, 28, 28, 0.46)), color-stop(43%, rgba(19, 19, 19, 0.71)), color-stop(83%, rgba(19, 19, 19, 1)));
    background: -webkit-radial-gradient( center, ellipse cover, rgba(28, 28, 28, 0.4) 0%, rgba(28, 28, 28, 0.46) 8%, rgba(19, 19, 19, 0.71) 43%, rgba(19, 19, 19, 1) 83%);
    background: -o-radial-gradient( center, ellipse cover, rgba(28, 28, 28, 0.4) 0%, rgba(28, 28, 28, 0.46) 8%, rgba(19, 19, 19, 0.71) 43%, rgba(19, 19, 19, 1) 83%);
    background: -ms-radial-gradient( center, ellipse cover, rgba(28, 28, 28, 0.4) 0%, rgba(28, 28, 28, 0.46) 8%, rgba(19, 19, 19, 0.71) 43%, rgba(19, 19, 19, 1) 83%);
    background: radial-gradient( ellipse at center, rgba(28, 28, 28, 0.4) 0%, rgba(28, 28, 28, 0.46) 8%, rgba(19, 19, 19, 0.71) 43%, rgba(19, 19, 19, 1) 83%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#131313', GradientType=1);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1);
    color: white;
    padding: 0;
    /* border-radius: 10px; */
    z-index: 101;
    font-family: "Roboto Mono", monospace;
}

.modal_proyectos h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5%;
}

.contenedor_carrusel {
    background: rgba(0, 0, 0, 0);
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    position: inherit;
}

.carousel-control-prev,
.carousel-control-next {
    top: 15%;
    height: 60%;
}

.contenedor_carrusel img {
    width: 50%;
    height: 60vh;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
    overflow: hidden;
}

.titulos {
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.nombre_proyecto,
.materia_proyecto {
    font-size: 18px;
    display: inline;
}

.descripcion_proyecto {
    font-size: 13px;
    text-align: center;
    margin: 0;
}

.MoverCamara {
    position: fixed;
    bottom: 5%;
    right: 0;
}

.saltar {
    position: absolute;
    z-index: 500;
    right: 6rem;
    bottom: 2rem;
    display: inline-flex;
}

.btn_Saltar {
    position: absolute;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
    z-index: 500;
    right: 6rem;
    bottom: 40px;
}