.container {
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.form {
    margin-top: 12vh;
    padding: 0;
    /* background: #243241; */
    color: white;
    height: 69%;
    border-radius: 0.5rem;
    min-width: 20rem;
    min-height: 30vh;
}

.block_superior {
    display: flex;
    background: #ff4b46;
    height: 37vh;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    min-width: 20rem;
    min-height: 10rem;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.493);
}

.contenedor_img {
    min-width: 20rem;
    min-height: 10rem;
}

.img_sup {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img_cerrar {
    float: right;
    margin-top: 2vh;
    max-width: 3%;
    min-width: 1rem;
    object-fit: cover;
}

.img_cerrar:hover {
    filter: brightness(0);
}

.img_logoBlanco {
    margin-top: 2vh;
    max-width: 45%;
    min-width: 10rem;
    object-fit: cover;
}

.fila_pestañas {
    background: #ff4b46;
    min-width: 20rem;
    font-weight: bold;
    font-size: 1.7vh;
    height: 4.6vh;
}

.pestaña_signIn,
.pestaña_signUp {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: #243241;
    color: white;
}

.pestaña_signIn:hover,
.pestaña_signUp:hover {
    text-decoration: none;
}

.block_inferior {
    display: flex;
    align-items: center;
    /* height: 30vh; */
    min-width: 20rem;
    min-height: 10rem;
    background: #243241;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.493);
}

.content_sup {
    padding: 1vh 2vh;
    margin: 1.5vh 0 1.5vh 0;
    font-size: 1.75vh;
    line-height: 2vh;
    text-transform: initial;
    text-align: center;
    font-weight: normal;
}

.cont_inferior {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.title {
    margin: 0 0 2vh 0;
    font-size: 1.125rem;
    font-weight: bold;
    min-width: 100%;
}

.input {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 3.5vh;
    border-radius: 10px;
    border: 1px solid #7f8c8d6b;
    background-color: #00000021;
    font-size: 1.5vh;
    text-transform: none;
    color: #7f8c8df6;
    box-sizing: border-box;
    background-image: url(~@/assets/logo.png);
    background-size: 5%;
    background-position: 10px;
    background-repeat: no-repeat;
    padding: 0px 20px 0px 40px;
}

.form-check {
    display: flex;
    margin: 0vh auto 1vh auto;
    font-size: 0.8rem;
    align-items: center;
}

.form-check-input {
    margin-top: 0px;
}

.icon_email {
    background-image: url(~@/assets/img/icons/email.svg);
}

.icon_pswrd {
    background-image: url(~@/assets/img/icons/candado.svg);
}

.icon_usuario {
    background-image: url(~@/assets/img/icons/usuariob.svg);
}

.icon_tipo {
    background-image: url(~@/assets/img/icons/tipo.svg);
}

.boton {
    margin: 0 auto;
    border-radius: 25px;
    height: 3.5vh;
    width: 20%;
    background-color: #ff4b46;
    color: #243241;
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
}

span {
    margin: 1.5vh;
    text-transform: initial;
    font-size: 1.2vh;
    text-align: center;
}

.link_Registro {
    color: #ff4b46;
}

.link_Registro:hover {
    color: #ff4b46;
}

.boton:hover {
    background-color: #fff;
    color: black;
}

.alert {
    width: 30%;
    min-width: 15rem;
    left: 0;
    right: 0;
    margin: 3vh auto;
}